@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme inline {
  --font-sans: var(--font-worksans);
  --font-display: var(--font-aboreto);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* 1.1 Custom Colors */
  --color-blue-50: hsl(198 52% 94%);
  --color-blue-100: hsl(196 49% 82%);
  --color-blue-200: hsl(196 49% 70%);
  --color-blue-300: hsl(196 49% 58%);
  --color-blue-400: hsl(196 56% 46%);
  --color-blue-500: hsl(196 91% 35%);
  --color-blue-600: hsl(197 87% 28%);
  --color-blue-700: hsl(198 80% 20%);
  --color-blue-800: hsl(201 69% 14%);
  --color-blue-900: hsl(200 71% 7%);
  --color-green-50: hsl(69 60% 93%);
  --color-green-100: hsl(69 61% 91%);
  --color-green-200: hsl(69 60% 84%);
  --color-green-300: hsl(69 61% 80%);
  --color-green-400: hsl(69 61% 73%);
  --color-green-500: hsl(69 61% 64%);
  --color-green-600: hsl(69 61% 55%);
  --color-green-700: hsl(67 51% 49%);
  --color-green-800: hsl(64 51% 43%);
  --color-green-900: hsl(57 53% 33%);
}

:root {
  --accent: hsl(69 61% 64%);
  --accent-foreground: hsl(200 71% 7%);
  --background: hsl(201 69% 14%);
  --border: hsl(197 87% 28%);
  --card: hsl(201 69% 14%);
  --card-foreground: hsl(0 0 100%);
  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0 100%);
  --foreground: hsl(0 0 100%);
  --hover: destructive: hsl(0 72% 51%);
  --hover: primary: hsl(197 87% 28%);
  --hover: secondary: hsl(200 71% 7%);
  --input: hsl(198 80% 20%);
  --muted: hsl(201 69% 14%);
  --muted-foreground: hsl(203 11% 57%);
  --popover: hsl(0 0 100%);
  --popover-foreground: hsl(200 71% 7%);
  --primary: hsl(196 91% 35%);
  --primary-foreground: hsl(0 0 100%);
  --ring: hsl(215 16% 47%);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --secondary: hsl(201 69% 14%);
  --secondary-foreground: hsl(0 0 100%);
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
